<ion-app>
  <ion-content>
<ion-header translucent>
  <ion-toolbar>
    <ion-title> <div class="ion-text-center">Bem vindo!</div></ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
    <div class="ion-text-center">
  <ion-label position="stacked">Usuário</ion-label>
  <ion-input required type="text"></ion-input>
    </div>
</ion-item>
<ion-item>
    <div class="ion-text-center">
  <ion-label position="stacked">Senha</ion-label>
  <ion-input required type="text"></ion-input>
    </div>
  <ion-item>  
      <div style="margin: 0 auto; width: 250px; text-align: center;">
      <ion-button color="secondary">Entrar</ion-button> 
      <ion-button color="secondary" href="/register">Registrar</ion-button>
    </div>
    </ion-item>
  </ion-item>
</ion-content>
</ion-app>